* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #121214;
    overflow-x: hidden;
}   

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5px;
}


header {
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    gap: 4rem;
    align-items: center;
    list-style: none;
}

.icon-avengers {
    height: 80px;
    width: 80px;
}

a {
    color: #fff;
    transition: 0.5s; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a:hover {
   color: #ff0000;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items {
    margin-top: 50vh; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.logo-avengers {
    width: 700px;
    height: 290px;
}

h1 {
    font-size: 35px;
    margin: 5rem 0px 1rem 0px;
    color: #fff;
}


h2 {
    font-size: 15px;
    text-align: center;
}

.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.infos-items {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.infos-titles {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 35px;
}

strong {
    color: #ff0000;
}

.infos-paragraph {
    margin: 3rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
} 

.img-avengers {
    height: 350px;
    width: 500px;
}

.infos-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7rem 5rem 13rem 5rem;
}

.infos-2-items {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cards {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
    cursor: pointer;
}

.cards-items {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 3rem;
}

.poster {
    transition: transform 0.5s;
    border-radius: 1rem;
}

.poster:hover {
    transform: scale(1.1);
    color: #222;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15rem 0px 13rem 0px;
    background: rgba(255, 0, 0, 0.738);
} 

.title-footer {
    text-align: left;
    font-size: 20px;
    margin: 1rem 0px 6rem 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff
}

.redes-icons {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
}

.icons {
    height: 60px;
    width: 60px;
    transition: transform .1s;
   
}

.icons:hover {
    transform: scale(1.1);
}


/*Responsivo*/

@media (max-width: 910px) {
 header {
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 14px;
 }

 body {
    overflow-x: hidden;
 }

 .icon-avengers {
    height: 70px;
    width: 70px;
 }

 .logo-avengers {
    height: 200px;
    width: 370px;
 }

 h1 {
    font-size: 25px;
 }

 .infos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .img-avengers {
    height: 300px;
    width: 380px;
    margin-bottom: 2rem;
 }

 .infos-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .cards-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .footer {
    padding: 2rem;
 }

 .title-footer {
    font-size: 17px;
    font-weight: bold;
 }
}